header 
{
width: 950px;
margin: 0px auto;
padding-top: 27px;
position: relative;
}
/*Division Styles for HomePage*/
.main_container 
{
    border-radius: 6px;
    border: 1px #7d8992 solid;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    height: 100%;
    width: 60%;
    min-height: 100%; 
    top: 30px;
    position:relative; 
   
    width:900px;
    height:900px;
    margin:0 auto; 
    
    overflow:hidden;
    background: #ffffff;
    margin-bottom: 40px;
}

.main_container2
{
    border-radius: 6px;
    border: 1px #7d8992 solid;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    height: 100%;
    width: 60%;
    min-height: 100%; 
    top: 30px;
    position:relative; 
   
    width:900px;
    height:1100px;
    margin:0 auto; 
    
    overflow:hidden;
    background: #ffffff;
    margin-bottom: 40px;
}

.introduction_header
{
    border-bottom: #d6d6d6 1px solid;
    padding-bottom: 5px;
    width: 580px;
}
h2, .h2 {
font-size: 30px;
text-align: left;
left:20px;
top:400px;
position: absolute;

}

h1, h2, h3 {
margin-top: 10px;
margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: 'Times New Roman',Times,serif;
font-weight: 500;
line-height: 1.1;
color: #878787;;
font-style: italic;

}


.introduction_container
{
    left: 20px;
    position: relative;
    width: 600px;
    height:300px;
    top:275px;
}

.text-indent 
{
text-indent: 4em;
}
.text-second-indent
{

text-indent: 18em;
}

p {
margin: 23px ;
color:#878787;
}

.calendar_container
{
    left: 620px;
    position: relative;
    border: 2px #111111 solid;
    width: 250px;
    height:250px;
}
/*Parish Header Design*/
.church_header_container

{
margin: 10px auto;
position: relative;
width: 1000px;
height:50px;
top: 220px;
}
.parishes
{

font-family: 'Times New Roman',Times, serif;
color: #006dcc;
font-weight: 600;
font-size: 24px;
position: absolute;
left: 409px;
font-style: italic;
left: 390px;
top:-5px;
}
/*end of Parish Header Design*/

/*End of Division Styles for HomePage*/


/*Navbar*/
.navbar-default {
background-color: #f8f8f8;
border-color: #e7e7e7;
height: 10px;
}

/*End of Navbar*/

.html 
{ 
    background: url(../../images/OurParish.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div #calendar {
	width: 236px;
	height: 179px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

#calendar table {
	width: 235px;
	table-layout: fixed;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 110%;
	border: 1px solid black; 
}


#calendar tr, th {
	text-align:center;	
}

#calendar td:hover {
	background: #3374C2;
	cursor:pointer;
}



#calendar th {
	border: 0;
}

.noBorder {
	background: #e0e0e0;
	border-right: 0;
	border-left: 0;}

.cellHighlight {
	background: #00FFFF;
}

.cellContent {
	color: red;
}

.cellContent a {
	color:red;
}

.form-control-inline {
 width: 200px !important;
 height:30px !important;
 right: 2% !important;
 left: 2% !important;
 position: absolute;
}

.center {
	top:265px;
	position:absolute;
	height: auto;
	width:100%;
}

.center input, p{
	text-align:center;
}

#header_container {
	height: 85px;
	width:auto;
}

.image_row_container {
	height: 260px;
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom:40px;
}

.image_row_container .image_container {
	display: inline-block;
	vertical-align:top;
	width: 180px;
	height: 260px;
	margin-right: 15px;
	margin-left: 15px;
	border: 1px solid black;
	overflow:hidden;
}

.image_row_container .image_container .top{
	width:180px; /* you can use % */
    height: 210px;
}

.image_row_container .image_container .top:hover, .bottom:hover {
	cursor:pointer;
}

.image_row_container .image_container .top:hover .delete {
	opacity: 1;
}

.image_row_container .image_container .top:hover .rename {
	opacity: 1;
}

.image_row_container .image_container .top img {
	max-width:180px; /* you can use % */
	max-height:210px;
}

.image_row_container .image_container .bottom{

	width:180px; /* you can use % */
    height: 47px;
}

.image_row_container .image_container .bottom p {	
	max-width:135px;
	margin: 0;
	margin-left:22px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.image_row_container2 {
	height: 210px;
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom:40px;
}

.image_row_container2 .image_container2{
	display: inline-block;
	vertical-align:top;
	width: 180px;
	height: 210px;
	margin-right: 15px;
	margin-left: 15px;
	border: 1px solid blue;
	overflow:hidden;
	background-repeat: no-repeat;
	background-position: center; 
}
.image_row_container2 .image_container2:hover{
	cursor: pointer;
}


.image_row_container2 .image_container2:hover .delete{
	opacity: 1;
}




.delete {
	float: right;
	margin-right:10px;
	margin-top:5px;
	opacity: 0;
	height: 13px;
	width:13px;
	background: url('../../../parishStyles/images/parish_images/cross.png') left top;
}

.delete:hover {
	background-position: -13px -0px;
}

.rename {
	float: left;
	margin-left:10px;
	margin-top:5px;
	opacity: 0;
	height: 12px;
	width:12px;
	background: url('../../../parishStyles/images/parish_images/rename.png') left top;
}

.rename:hover {
	background-position: -12px 0px;
}

#imgTag {
	display:block;
	max-width:660px;
	margin:auto;
}